.landingpage{
    padding-top: 300px;
    background-image: url(../images/akan\ k);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.text{
    background-color: blue;
}
.container{
    background-color: blue;
}
    

