.form{
 height:70%;
 display: flex;
 flex-direction: column;
 justify-content: left;
 padding-left: 700px;

}


body{
    font-size: 35px;
    background-image: url(../images/akan.jpeg);
    background-repeat: no-repeat;
    width: 500px;
    height: 700px;

}
.header{
   float: center;
}

